<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.itech">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_PHONE_STATE" />

    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>-->

    <application>
        <activity
            android:name="com.itech.mobile.MbActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
        <activity
            android:name="com.itech.mobile.MdActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />

        <activity
            android:name="com.itech.common.MBrowser"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />
        <activity
            android:name="com.itech.mobile.VideoPlayerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />

        <activity
            android:name="com.itech.mobile.RewardedMraidActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@style/MoPubFullscreenTheme" />

        <provider
            android:name="com.itech.download.DownloadFileProvider"
            android:authorities="com.itech.download.DownloadFileProvider.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/download_files_public"/>
        </provider>
    </application>

</manifest>